<nav>
    <ul class="pagination justify-content-between mt-4">
        <li class="page-item">
            <a href="/page/<%= links.prev.link %>">
                上一篇：<%= links.prev.title %>
            </a>
        </li>
        <li class="page-item">
            <a href="/page/<%= links.next.link %>">
                下一篇：<%= links.next.title %>
            </a>
        </li>
    </ul>
</nav>