<%- include('./partials/header') %>
<div class="container" style="margin-top:32px; margin-bottom: 32px">
    <p class="h2"><%= title %></p>
    <p><strong><%= message %></strong></p>
</div>
<%- include('./partials/footer') %>
